LINK_WITH_STANDARD_LIBRARIES = NO
OTHER_LDFLAGS = -nostdlib -nodefaultlibs
CODE_SIGN_IDENTITY =

HEADER_SEARCH_PATHS = $(SRCROOT)/../Source/Kernel/SharedCode/headers $(SRCROOT)/../Source/Kernel/CXSystemLoader/headers $(SRCROOT)/../Source/Kernel/CXK/headers $(SRCROOT)/../Source/Kernel/CoreDriver/headers

GCC_ENABLE_KERNEL_DEVELOPMENT = YES
CLANG_STATIC_ANALYZER_MODE = deep

OTHER_CFLAGS = -fshort-wchar -fpie -ffreestanding
WARNING_CFLAGS = -Wall -Werror -Wextra -Wno-char-subscripts -Wno-incompatible-pointer-types -fdiagnostics-show-option -fno-stack-protector -mno-red-zone
GCC_CHAR_IS_UNSIGNED_CHAR = YES
GCC_C_LANGUAGE_STANDARD = gnu11
GCC_LINK_WITH_DYNAMIC_LIBRARIES = NO
GCC_USE_STANDARD_INCLUDE_SEARCHING = NO
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO
GCC_DYNAMIC_NO_PIC = NO
CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES = YES
GCC_ENABLE_OBJC_EXCEPTIONS = NO
CLANG_LINK_OBJC_RUNTIME = NO
GCC_TREAT_WARNINGS_AS_ERRORS = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNKNOWN_PRAGMAS = YES
CLANG_WARN_UNREACHABLE_CODE = YES_AGGRESSIVE
GCC_WARN_UNUSED_LABEL = YES
RUN_CLANG_STATIC_ANALYZER = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
CLANG_WARN_SUSPICIOUS_MOVES = YES
GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
CLANG_WARN_INT_CONVERSION = NO
GCC_WARN_SHADOW = YES
GCC_WARN_UNUSED_FUNCTION = YES
